<a href="/">Home</a>

<section>
  <h1>All Shelters</h1>
  <a href="/shelters/new">New Shelter</a>
</section>

<section>
  <% @shelters.each do |shelter| %>
    <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
    <%= link_to "Edit", "/shelters/#{shelter.id}/edit" %>
    <% end %>
</section>
